body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2D0000;
}

.imgs{
    display: flex;
    gap: 30px;
    flex-wrap:wrap;
    max-width: 800px;
    justify-content: center;
    align-items: center;

    
}



.card{
    position: relative;
    width: 200px;
    height: 200px;  
    margin-top: 60px;
    background-color: #6D0808;
    height: 250px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    
}
.card:hover{
    background-color: #4a0d0d;
    width: 220px;
    height: 260px;

    .realimg{
        width:220px;
    }
}

button img:hover{
     width: 50px;
     height: 50px;
     bottom:5px;
}

button{
    position: absolute;
    bottom:10px;
    right:10px;
    background: none;
    border: none;
}

button img{

   width: 20px;
   height: 20px;
   background-color: aliceblue;
   border: none;
   border-radius: 100px;
   height:35px;
   width: 35px;
   transition: all 0.5s ease-in-out;
}



.realimg{
   border-radius: 10px;
   width: 200px;
   height: 200px;
   transition: all 0.5s ease-in-out;

   
}

.song{
    position:fixed;
    bottom: 10px;
    left:0px;
    width: 100vw;
    
}


.title h1{
   color:antiquewhite;
   font-size: 80px;
   font-family: sans-serif;
   margin-right: 100px;
}

.di p{
    font-size: 15px;
    color: #fcf6f6;
}